
:root {
    --ddc: #00564D;
    --dlc: #00897B;
    --bdc: #222222;
    --blc: #2b2b2b;
    --bmlc: #3b3b3b;
    --hovergrayc: #424242;
    --borderc: #e8e8e8;
    --hrefc: #68B7DE;
    --hrefconh: #ABD7ED;
    --textcolor: white;
    --smallrnd: 5px;
    --medrnd: 10px;
    --bigrnd: 15px;
    --largernd: 25px;
    --infrnd: 999px;
    --darkgreenc: #223322;
    --darkredc: #332222;
    --addbluec: #3185FC;
    --addredc: #F06449;
    --grade1c: #7a0c19;
    --grade2c: #df0707;
    --grade3c: #f48c06;
    --grade4c: #80ac5f;
    --grade5c: #4f702b;
    --alertc: #3c2b2b;
}



/* TEXT OPTIONS */
* {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--textcolor);
}


input[type="email"],
input[type="text"],
input[type="email"]:is(::placeholder, :placeholder-shown, :hover, :focus, :active, ::backdrop, ::first-line, :valid, :disabled, :invalid),
input[type="text"]:is(::placeholder, :placeholder-shown, :hover, :focus, :active, ::backdrop, ::first-line, :valid, :disabled, :invalid) {
    background-color: var(--bmlc) !important;
    color: var(--textcolor);
    border-radius: var(--medrnd);
}

select {
    background: var(--bmlc) !important;
    color: var(--textcolor) !important;
    border-radius: var(--smallrnd) !important;
}

a,
* > a,
* > * > a,
* > * > * > a,
* > * > * > * > a,
* > * > * > * > * > a,
* > * > * > * > * > * > a,
* > * > * > * > * > * > * > a,
* > * > * > * > * > * > * > * > a,
* > * > * > * > * > * > * > * > * > a {
    color: var(--hrefc) !important;
}

a.btn {
    color: var(--textcolor) !important;
    border-radius: var(--medrnd);
}

a.btn.pull-right-md.pull-right-lg {
    background-color: var(--blc) !important;
}

*.text-success, *.text-info {
    color: var(--textcolor) !important;
}

textarea {
    color: var(--textcolor) !important;
    background: var(--blc) !important;
    border-radius: var(--smallrnd) !important;
}

div.author {
    color: var(--textcolor) !important;
}

a.avatar {
    background: var(--bmlc) !important;
    color: var(--textcolor) !important;
    border-color: var(--textcolor) !important;
}



/* BODY SETTING */
body {
    background-color: var(--bdc) !important;
}

div.alert.alert-success {
    font-size: 16px !important;
    background: var(--darkgreenc) !important;
    border-style: none !important;
}

span.label.label-danger {
    background: var(--addredc) !important;
}



/* HYPERLINKS COLOR */
a {
    color: var(--hrefc);
}

* > a:is(:hover, :focus, :active) {
    color: var(--hrefconh) !important;
}



/* WIDER GRADES */
td span.grade {
    width: 45px !important;
}



/* CHANGE POINTS VIEW MODE */
#bp {
    background: var(--bmlc) !important;
    color: var(--textcolor) !important;
    font-size: 12px !important;
    text-align: center !important;
    width: 50px !important;
}



/* NAVBAR */
nav:not(.dropdown_toggle) {
    background: var(--dlc);
}

*:not(span.caret) {
    border-color: var(--borderc) !important;
}



/* NAVBAR DROPDOWN */
nav ul li.dropdown.open a.dropdown-toggle {
    background-color: var(--ddc) !important;
}

nav ul.dropdown-menu a {
    background-color: var(--dlc) !important;
}

nav ul.dropdown-menu li.divider {
    background-color: var(--dlc) !important;
}


/* HYPERLINKS NAVBAR */
nav ul a:hover {
    background-color: var(--ddc) !important;
}

nav ul li.active a { /* after click */
    background-color: var(--ddc) !important;
}

nav ul a:focus { /* beteen click and page load */
    background-color: var(--ddc) !important;
}

nav a {
    color: var(--textcolor) !important;
}

nav a:hover {
    color: var(--textcolor) !important;
}

a#linkschedule:is(:hover, :focus, :active) {
    color: var(--textcolor) !important;
}



/* NOTIFICATIONS MENU */
div.dropdown-menu-left div{
    background: var(--blc);
    color: var(--textcolor) !important;
}

div.notification:is(:hover, :focus, :active),
div.notification:is(:hover, :focus, :active) > *,
div.notification:is(:hover, :focus, :active) > * > *
{
    background: var(--bmlc) !important;
}

div.notification-icon.fa.fa-info.bg-info:is(:hover, :focus, :active) {
    background: var(--hovergrayc) !important;
}

div.dropdown-menu-left > * {
    color: var(--textcolor) !important;
}

div.notification-more.notification-more-all:is(:hover, :focus, :active) {
    background: var(--bmlc);
}



/* BREADCRUMB */
ul.breadcrumb {
    background: var(--blc);
    border-radius: var(--infrnd);
    /* border-color: var(--borderc); */
}

@media only screen and (min-width: 768px) {
    ul.breadcrumb {
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

li a {
    color: var(--hrefc);
}

li a:is(:hover, :focus, :active) {
    color: var(--hrefconh);
}

ul.breadcrumb li.active {
    color: var(--textcolor);
}

ul.breadcrumb a:focus {
    color: var(--hrefconh);
}



/* WELLS */
div.well {
    background: var(--blc);
    border-radius: var(--bigrnd);
}



/* STUPID <a> SEMESTR CHANGER */
div.well.ng-binding p a {
    display: block;
    font-size: 16px;
    color: var(--hrefc) !important;
}



/* RIGHT COLUMN, NEXT LESSONS AND SUBJECT NEWS*/
tr.ng-scope {
    background: var(--blc);
}

span.label {
    border-radius: var(--infrnd) !important;
    font-size: 10px;
}

span.label-warning {
    background: var(--addredc);
    color: var(--textcolor);
}

span.label-info {
    background: var(--addbluec);
    color: var(--textcolor);
}

div.col-md-4 div.panel-default {
    background: var(--blc);
    border-radius: var(--bigrnd);
}

div.panel-body h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

table.table-condensed tbody tr td {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px !important;
}

div.list-group div.list-group-item {
    background: var(--blc);
}

div.list-group div.list-group-item:first-child {
    border-top-right-radius: var(--bigrnd);
    border-top-left-radius: var(--bigrnd);
}

div.list-group div.list-group-item:last-child {
    border-bottom-right-radius: var(--bigrnd);
    border-bottom-left-radius: var(--bigrnd);
}

div.list-group div.list-group-item:only-child {
    border-radius: 0px;
}

div.list-group a {
    color: var(--hrefc);
}

div.panel-body h4 {
    margin-left: 5px;
}

div.panel.panel-default.ng-scope div.panel-body table.table.table-borderless.table-condensed tbody tr:is(:hover, :focus, :active) {
    background: var(--blc) !important;
}



/* LEFT COLUMN, CLASS POINTS (FIX)*/
tr.pointer {
    background: var(--bdc);
}



/* MIDDLE COLUMN */
tr.discussion-label-span {
    background: var(--bdc);
}

tr.discussion-label-span.success > td {
    background: var(--darkgreenc) !important;
}

td.text-right span {
    width: 120px !important;
}

a.pointer {
    color: var(--hrefc);
}

tr.danger.ng-scope td > * {
    background: var(--darkredc) !important;
    color: var(--textcolor) !important;
}



/* MODAL CONTENT */
div.modal-dialog div.modal-content {
    background: var(--blc);
    border-radius: var(--bigrnd);
}

div.modal-footer button {
    background: var(--dlc);
    color: var(--textcolor);
    border-radius: var(--medrnd);
    border-style: none;
}

div.modal-footer button:is(:hover, :focus, :active) {
    background: var(--ddc) !important;
}

div.modal-footer a.pull-left {
    background: var(--bmlc);
    color: var(--textcolor);
    border-radius: var(--medrnd);
}

div.row div.badge {
    background: var(--bmlc) !important;
    color: var(--textcolor);
    font-size: 12px;
}

span.pull-right {
    background: var(--bmlc) !important;
    color: var(--textcolor);
    font-size: 12px;
}



/* HOVER OVER MULTIPLE TABLES */
table.table.table-hover tr:hover td {
    background-color: var(--hovergrayc) !important;
}

table.table.table-hover tr:focus td {
    background-color: var(--hovergrayc) !important;
}

table.table.table-hover tr.info td {
    background-color: var(--hovergrayc) !important;
}



/* TABLE ACTIVE */
tr.active td {
    background: var(--bdc) !important;
}



/* SELECT */
select.input-sm {
    background: var(--blc);
    color: var(--textcolor);
    border-radius: var(--smallrnd) !important;
}



/* GRADES */
span.grade {
    border-radius: 4px;
}

span.grade_1 {
    background: #7a0c19 !important;
}

span.grade_2 {
    background: #df0707 !important;
}

span.grade_3 {
    background: #f48c06 !important;
}

span.grade_4 {
    background: #80ac5f !important;
}

span.grade_5 {
    background: #4f702b !important;
}

td:has(> span.grade) {
    text-align: center;
    font-size: 16px;
}

td.mvb {
    font-size: 14px;
}



/* STUPID UP ARROW (HATE IT) FROM LEFT SIDE OF SCREEN */
#to_top {
    opacity: 0.1;
}

#to_top > * {
    color: var(--textcolor) !important;
}



/* NEWS PAGE */
td a.glyphicon-eye-open {
    color: var(--hrefc);
}

div.container.margin-top div.well > * {
    color: var(--textcolor) !important;
}
div.container.margin-top div.well > * > * {
    color: var(--textcolor) !important;
}
div.container.margin-top div.well > * > * > * {
    color: var(--textcolor) !important;
}
div.container.margin-top div.well > * > * > * > * {
    color: var(--textcolor) !important;
}



/* USER FILES PAGE */
#tbodyUserFiles a {
    color: var(--hrefc);
}

div.pull-right button.btn-info,
div.pull-right button.btn-info:is(:hover, :focus, :active) {
    background-color: var(--addbluec);
    min-width: 60px;
    border-top-left-radius: var(--smallrnd);
    border-bottom-left-radius: var(--smallrnd);
    border-style: none;
    padding: 6px, 8px;
}

div.pull-right button.btn-danger,
div.pull-right button.btn-danger:is(:hover, :focus, :active) {
    background-color: var(--addredc);
    min-width: 60px;
    border-top-right-radius: var(--smallrnd);
    border-bottom-right-radius: var(--smallrnd);
    border-style: none;
    padding: 6px, 8px;
}

div.well button.btn-success {
    background: var(--dlc);
    border-radius: var(--medrnd);
    border: none;
}

div.well button.btn-success:is(:hover, :focus, :active) {
    background: var(--ddc) !important;
    border-radius: var(--medrnd);
}

div.resumable-drop {
    background: var(--blc);
    border-radius: var(--bigrnd);
    color: var(--textcolor);
}

div.resumable-drop a u {
    color: var(--hrefc);
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:is(:hover, :focus, :active) {
    background: var(--bmlc) !important;
    color: var(--textcolor);
}

ul.nav-tabs li a:is(:hover, :focus, :active) {
    background: var(--bmlc) !important;
    color: var(--textcolor);
}

button.btn.btn-default,
button.btn.btn-default:is(:hover, :focus, :active) {
    color: var(--textcolor);
    border-radius: var(--medrnd);
}

button.btn-xs.btn-primary.file-picker-select {
    color: var(--textcolor);
    background: var(--addbluec);
    border-radius: var(--smallrnd);
    border-style: none;
}



/* LOGIN PAGE */
div#auth {
    border-radius: var(--largernd);
}

div#auth div#authheader {
    background: var(--dlc);
    border-top-left-radius: var(--largernd);
    border-top-right-radius: var(--largernd);
}

div#auth div#authfooter {
    background: var(--dlc);
    border-bottom-left-radius: var(--largernd);
    border-bottom-right-radius: var(--largernd);
}

div#auth div#authheader h1{
    color: var(--textcolor) !important;
    font-size: 32px;
}

div#auth div#authheader h2{
    color: var(--textcolor) !important;
    font-size: 16px;
}

div#auth form#login-form {
    background: var(--blc);
}

div#auth div#authfooter h2{
    color: var(--textcolor) !important;
    font-size: 16px;
}

input#loginform-rememberme {
    accent-color: var(--dlc);
    background-color: var(--bmlc);
}

button#loginbut {
    border-radius: var(--medrnd);
    background: var(--dlc);
    color: var(--textcolor);
}

input.form-control:is(::placeholder, :placeholder-shown, :hover, :focus, :active, ::backdrop, ::first-line, :valid) {
    background-color: var(--bmlc) !important;
    border-radius: var(--medrnd);
}

div.baseRow div.alert.alert-danger {
    background-color: var(--alertc);
    color: var(--textcolor);
    font-size: 14px;
    border-radius: var(--medrnd);
}

div.baseRow div.alert.alert-danger{
    background-color: var(--alertc);
}



/* RESOURCES PAGE */
div.list-group div.list-group-item.bg-grey.pointer {
    border-radius: var(--bigrnd);
}

div.panel-collapse > div:first-child {
    border-top: none !important;
}

div.list-group div.panel-collapse > div:is(:hover, :focus, :active) {
    background: var(--bmlc) !important;
}

div.list-group div.panel-collapse div div span.label.label-default {
    background-color: var(--blc);
    color: var(--textcolor);
}

div.list-group div.panel-collapse div div span.label.label-success {
    background-color: var(--darkgreenc);
    color: var(--textcolor);
}



/* FAQ (IN NEWS) PAGE */
div.search-form {
    border-radius: var(--bigrnd);
}

select#faqcategory-category {
    background: var(--blc);
    color: var(--textcolor);
    border-radius: var(--smallrnd);
}

input#faqcategory-key_words {
    background: var(--blc);
    color: var(--textcolor);
    border-radius: var(--smallrnd);
}

button.btn.btn-primary {
    background: var(--dlc);
    color: var(--textcolor);
    border: none;
    border-radius: var(--medrnd);
}

button.btn.btn-primary:is(:hover, :focus, :active) {
    background: var(--ddc);
    color: var(--textcolor);
    border-radius: var(--medrnd);
}

div.panel-group#accordion div.panel.panel-default{
    background: var(--blc) !important;
    color: var(--textcolor) !important;
    border-radius: var(--bigrnd);
}

div.panel-group#accordion div.panel.panel-default div.panel-heading {
    background: var(--blc);
    color: var(--textcolor);
    border-radius: var(--bigrnd);
}

div.panel-group#accordion div.panel.panel-default div.panel-collapse:is(:hover, :focus, :active) {
    background-color: var(--blc) !important;
    border-radius: var(--bigrnd);
}

table.table.table-condensed tbody tr:is(:hover, :focus, :active) {
    background: var(--bmlc);
}

table.table.table-condensed tbody tr td.collapser a.newColor {
    color: var(--hrefc);
}

table.table.table-condensed tbody tr.collapse td a {
    color: var(--hrefc);
}



/* HOMEWORK PAGE */
a.btn.btn-success {
    background: var(--dlc);
    border-radius: var(--medrnd);
    color: var(--textcolor);
    border-style: none;
}

a.btn.btn-success:is(:hover, :focus, :active) {
    background: var(--ddc) !important;
}

span.bootstrap-switch-label {
    background-color: var(--blc) !important;
}

span.bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: var(--addbluec) !important;
}

span.bootstrap-switch-handle-off.bootstrap-switch-default {
    background: var(--addredc) !important;
    color: var(--textcolor) !important;
}

button.btn-xs#collapseAll {
    background: var(--blc);
    color: var(--textcolor);
    border-radius: var(--smallrnd);
}

button.btn.btn-success {
    background: var(--dlc);
    border-radius: var(--medrnd);
    color: var(--textcolor);
    border-style: none;
}

button.btn.btn-success:is(:hover, :focus, :active) {
    background: var(--ddc) !important;
}



/* PROJECT WORK PAGE */
div#ui-datepicker-div {
    background-color: var(--blc);
    color: var(--textcolor);
}

table.ui-datepicker-calendar {
    background: var(--blc);
}

table.ui-datepicker-calendar tbody tr td a {
    background: var(--bmlc) !important;
    color: var(--textcolor) !important;
}

div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: var(--bmlc);
}

form#w0 a.btn.btn-secondary {
    background: var(--bmlc);
    color: var(--textcolor);
    border-radius: var(--medrnd);
    border-style: none;
}

div#ui-datepicker-div {
    background: var(--blc) !important;
}



/* PROFILE LABEL */
div.panel.panel-info {
    border-radius: var(--infrnd);
    border-color: var(--bdc) !important;
}

div.panel.panel-info div.panel-heading {
    border-top-left-radius: var(--bigrnd);
    border-top-right-radius: var(--bigrnd);
    border-style: none !important;
}

div.panel.panel-info div.panel-footer {
    border-bottom-left-radius: var(--bigrnd);
    border-bottom-right-radius: var(--bigrnd);
    border-style: none !important;
}

div.panel.panel-info > div {
    background: var(--blc);
}

div.form-group a.btn.btn-primary {
    background: var(--dlc);
    border-style: none;
}

img.img-responsive {
    display: none;
}



/* + LABELS */
div.alert.alert-danger {
    border-radius: var(--bigrnd);
    border-style: none;
    font-size: 16px;
}



/* THEME EXTRAS */
tr.success.ng-scope,
tr.success.ng-scope td {
    background: var(--darkgreenc) !important;
}

tr.discipline_checkboxes.ng-scope {
    background: transparent;
}

div.panel.panel-default {
    background: transparent;
    border-radius: var(--medrnd);
}

div.panel-heading.click {
    background: var(--blc);
    color: var(--textcolor);
    border-top-left-radius: var(--medrnd);
    border-top-right-radius: var(--medrnd);
}